---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign publications = site.publications | sort: "date" | reverse %}

<div class="publication-list">
{% for post in publications %}
  <article class="publication-entry">
    <h2 class="publication-title">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">{{ post.title }}</a>
    {% else %}
      {{ post.title }}
    {% endif %}
    </h2>
    <p class="publication-authors">{{ post.authors }}</p>
    <p class="publication-venue"><em>{{ post.venue }}</em>, {{ post.year }}.</p>
  </article>
{% endfor %}
</div>
